<%= render "shared/header" %>

<h2>タイマー</h2>
<form name="timer">
  <input type="text", id="min", name="min">分
  <input type="text", id="sec", name="sec">秒
  <div>
    <input type="button", value="スタート", id="start">
    <input type="button", value="ストップ", id="stop">
  </div>
</form>

<audio controls controlslist="nodownload" id="sound", preload="auto", src="https://res.cloudinary.com/tetu/video/upload/v1598691645/Cell_Phone-Notification01-1_bcyosj.mp3"></audio>