<%= render "shared/header" %>

<h2>タイマー</h2>
<div>
  注意！ 0秒になった時に音がなります！
</div>
<div>
  休憩用タイマーは勉強用タイマーが0秒になった時に自動で5分計測します。
</div>
<h3>勉強用タイマー</h3>
<form name="timer">
  <input type="number", id="min", name="min">分
  <input type="number", id="sec", name="sec">秒
  <div>
    <input type="button", value="スタート", id="start">
    <input type="button", value="ストップ", id="stop", class="hidden">
    <input type="button", value="リセット", id="reset", class="hidden">
  </div>
</form>

<h3>休憩用タイマー</h3>
<form name="break_timer">
  <input type="number", id="break_min", name="break_min">分
  <input type="number", id="break_sec", name="break_sec">秒
  <div>
    <input type="button", value="スタート", id="break_start", class="hidden">
    <input type="button", value="ストップ", id="break_stop">
    <input type="button", value="リセット", id="break_reset", class="hidden">
  </div>
</form>

<audio controlslist="nodownload" id="sound", preload="auto", src="https://res.cloudinary.com/tetu/video/upload/v1598691645/Cell_Phone-Notification01-1_bcyosj.mp3"></audio>

<div id="user" class="hidden"> 
  <%= current_user.id %>
</div>