<%= render "shared/header" %>
<div class="timer">
  <div class="timer-box">
    <div class="caution">
      注意！ 0秒になった時に音がなります！
    </div>
    <div class="auto-timer-explanation">
      休憩用タイマーは勉強用タイマーが0秒になった時に自動で5分計測します。
    </div>
    <div class="study-break-timer">
      <h3 class="timer-title">勉強用タイマー</h3>
      <form name="timer">
        <input type="number", id="min", name="min", class="timer-letter">分
        <input type="number", id="sec", name="sec", class="timer-letter">秒
        <div class="study-bottun">
          <input type="button", value="スタート", id="start", class="timer-bottun">
          <input type="button", value="ストップ", id="stop", class="hidden-timer-bottun">
          <input type="button", value="リセット", id="reset", class="hidden">
        </div>
      </form>

      <h3 class="timer-title">休憩用タイマー</h3>
      <form name="break_timer">
        <input type="number", id="break_min", name="break_min", class="timer-letter">分
        <input type="number", id="break_sec", name="break_sec", class="timer-letter">秒
        <div class="study-bottun">
          <input type="button", value="スタート", id="break_start", class="hidden-timer-bottun">
          <input type="button", value="ストップ", id="break_stop", class="timer-bottun">
          <input type="button", value="リセット", id="break_reset", class="hidden">
        </div>
      </form>
    </div>
  </div>
</div>

<audio controlslist="nodownload" id="sound", preload="auto", src="https://res.cloudinary.com/tetu/video/upload/v1598691645/Cell_Phone-Notification01-1_bcyosj.mp3"></audio>

<div id="user" class="hidden"> 
  <%= current_user.id %>
</div>