.site-header{
  height: 100px;
  width: 100%;
  padding: 0px 40px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.title{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 1rem 2rem;
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.title-explanation{
  font-size: 18px;
}
.header-user-name{
  font-size: 21px;
}
.right-header{
  margin-right: 20px;
}
.devise-box{
  display: flex;
  font-size: 20px;
}
.devise{
  text-decoration: none;
  color: #333;
  padding: 7px 7px;
  margin: 0px 0px 0px 20px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
}

/* タブレット・スマホ表示時 */
@media (max-width: 1024px) {
  .title{
    font-size: 24px;
  }
  .title-explanation{
    font-size: 15px;
  }
  .header-user-name{
    font-size: 18px
  }
  .devise-box{
    font-size: 15px;
  }
}