.site-header{
  height: 100px;
  padding: 0px 40px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.title{
  text-decoration: none;
  color: #333;
  font-size: 30px;
}

.header-user-name{
  font-size: 24px;
}

.devise-box{
  display: flex;
  font-size: 20px;
}

.devise{
  text-decoration: none;
  color: #333;
  padding: 7px 7px;
  margin: 0px 20px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
}