<%= @user.nickname %>
<div>
  <div>
    <%= link_to "タイマー", "" %>
  </div>
  <div>
    <%= link_to "問題作成", "" %>
  </div>
  <div>
    <%= link_to "ユーザー一覧", ""%>
  </div>
</div>

<h2>勉強時間</h2>

<h2>自作問題一覧</h2>