.edit-question{
  text-align: center;
  font-size: 21px;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.edit-question-bottun{
  margin: 15px 0px 0px 0px;
  text-align: center;
}

.update-question-bottun{
  padding: 7px 7px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
}