.login-background{
  background-color: #e6ffe9;
  width: 100%;
}

.contents-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: white;
  margin: 70px 0px 0px 0px;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.login{
  text-align: center;
  font-size: 21px;
}

.field{
  margin: 15px 0px 0px 0px;
}

.small-field{
  width: 25vw;
}

.login-bottun{
  padding: 7px 7px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
}